<!doctype html>
<html>
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <title>BARAM 물품관리 사이트</title>
  </head>
  <body>
    <!-- <form>
      <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1">
      </div>
      <div class="form-group form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">Check me out</label>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>   -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" onclick="location.href='/' ">BARAM</a>
        
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <!-- <li class="nav-item active">
              <a class="nav-link" href="#">모터 <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">센서</a>
            </li> -->
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                모터
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">AX-12a</a>
                <a class="dropdown-item" href="#">스텝모터</a>
                <!-- <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Something else here</a>
              </div> -->
            </li><li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                센서
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">IMU</a>
                <a class="dropdown-item" href="#">PSD</a>
                <!-- <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Something else here</a>
              </div> -->
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                MCU
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Raspberry Pi</a>
                <a class="dropdown-item" href="#">Atmega128</a>
                <!-- <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Something else here</a>
              </div> -->
            </li>
            <!-- <li class="nav-item">
              <a class="nav-link" href="#">MCU</a>
            </li> -->
            <!-- <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Dropdown
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
            </li> -->
            <!-- <li class="nav-item">
              <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
            </li> -->
          </ul>
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-6" type="search" placeholder="부품명 검색" aria-label="부품명 검색">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">검색</button>
            <!-- // mr-sm-2 -->
          </form>
          <% if (loginTF == true){ %>
          <div class="btn-group">
            <button type="button" class="btn btn-outline-dark dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              관리자 메뉴
            </button>
            <div class="dropdown-menu">
              <button class="dropdown-item d-flex justify-content-between align-items-center" type="button" onclick= "location.href='/goods' ">물품페이지 관리</button>
              <button class="dropdown-item d-flex justify-content-between align-items-center" type="button" onclick= "location.href='/rentList' ">대여 기록
                <span class="badge badge-primary badge-pill"><%= rentdata.length %></span></button>
              <button class="dropdown-item d-flex justify-content-between align-items-center" type="button" onclick= "location.href='/returnList' ">반납 신청
                <span class="badge badge-primary badge-pill"><%= returndata.length %></span></button>
              <button class="dropdown-item d-flex justify-content-between align-items-center" type="button" onclick= "location.href='/stockList' ">물품 재고 확인</button>
              <div class="dropdown-divider"></div>
              <button class="dropdown-item d-flex justify-content-between align-items-center" type="button" onclick= "location.href='/logout' ">로그아웃</button>
            </div>
          </div>
          <% } %>
          <% if (loginTF == false){ %>
            <button type="button" onclick="location.href='/login' " class="btn btn-outline-dark">관리자 로그인</button>
          <% } %>
          <!-- <div class="btn-group dropleft">
            <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Action
            </button>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" onclick="location.href='http://localhost:3003/logout' ">로그아웃</a>
            </div> -->
          <!-- </div>
           <button type="button" onclick="location.href='http://localhost:3003/logout' " class="btn btn-light btn-sm">로그아웃</button>
          </div> -->
      </nav>
      <% if (list == 'main'){ %>
        <div class="jumbotron jumbotron-fluid">
          <div class="container">
            <h3 class="display">BARAM 물품 관리 홈페이지에 오신것을 환영합니다!</h3>
            <p class="lead">필요한 물품을 둘러보고 BARAM 카카오톡 플러스친구(@baramrobotics)를 통해 편하게 대여 신청하세요.</p>
          </div>
        </div>
      <% } %>

      <% if (list == 'rent'){ %>
        <h3>물품 대여 내역입니다.</h3>
        <ul class="list-group">
          <% if(rentdata.length == 0){ %>
            <li class="list-group-item">물품 대여 내역이 없습니다.</li>
          <% } %>
        <% var reply = '';%>
        <% for (var i = 0; i < rentdata.length; i++) { %>
            <% var date = rentdata[i].rentdate.split(' ');%>
            <% date = date[0];%>
            <% var name = rentdata[i].username;%>
            <% var goods = rentdata[i].goodsname;%>
            <% var quantity = rentdata[i].quantity;%>
            <% reply = (i+1)+') ' + name + ' : '+goods + ' '+ quantity+'개' + ' ('+ date + ')';%>
          <li class="list-group-item"><%= reply %></li>
      <% } %>
      </ul>
    <% } %>

    <% if (list == 'return'){ %>
      <h3>반납 신청 내역입니다.</h3>
  <ul class="list-group">
    <% if(returndata.length == 0){ %>
        <li class="list-group-item">물품 반납 신청이 없습니다.</li>
      <% } %>
  <% var reply = '';%>
  <% for (var i = 0; i < returndata.length; i++) { %>
      <% var date = returndata[i].rentdate.split(' ');%>
      <% date = date[0];%>
      <% var name = returndata[i].username;%>
      <% var goods = returndata[i].goodsname;%>
      <% var quantity = returndata[i].quantity;%>
      <% reply = (i+1)+') ' + name + ' : '+goods + ' '+ quantity+'개' + ' ('+ date + ')';%>
    <li class="list-group-item"><%= reply %></li>
    <% } %>
  </ul>
  <% } %>

  <% if (list == 'stock'){ %>
    <h3>물품 재고 현황입니다.</h3>
  
  <ul class="list-group">
    <div class="container">
        <div class="row">
          <div class="col text-center"> 번호 </div>
          <div class="col text-center"> 물품명 </div>
          <div class="col text-center"> 대여중 / 총 </div>
        </div>
      <!-- </div> -->
    <!-- <ul class="list-group list-group-horizontal">
        <li class="list-group-item text-center ">번호</li>
        <li class="list-group-item text-center flex-fill">물품명</li>
        <li class="list-group-item text-center flex-fill">대여중인 수량 / 총 보유수량</li>
      </ul> -->
  <% var reply = '';%>
  <% for (var i = 0; i < goodsdata.length; i++) { %>
      <% var name = goodsdata[i].name;%>
      <% var rent = goodsdata[i].rent;%>
      <% var total = goodsdata[i].total;%>
      <% reply = (i+1)+') ' + name + ': '+rent + ' / '+ total+'\n'; %>
      <!-- <div class="container"> -->
        <div class="row">
          <div class="col text-center"> <%= i+1 %> </div>
          <div class="col text-center"> <%= name %> </div>
          <div class="col text-center"> <%= rent + '/'+ total %> </div>
        </div>
      
      <!-- <ul class="list-group list-group-horizontal-sm flex-fill">
        <li class="list-group-item text-center d-flex justify-content-between"><%= i+1 %></li>
        <li class="list-group-item text-center flex-fill d-flex justify-content-between"><%= name %></li>
        <li class="list-group-item text-center flex-fill justify-content-between"><%= rent + '/'+ total %></li>
      </ul> -->
<% } %>
</div>
</ul>
<% } %>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  </body>
</html>