<%- include('header') %>
        <div class="container">
            <table class="table table-hover text-center" >
                <tbody>
                    <% searchall.forEach(function(search){ %>
                  <tr class="align-middle" height="30px" onclick= "location.href='/goods/detail/<%=search.id%>' ">
                      <td rowspan="2" width="50%" class="align-middle">
                        <%if(search.thumbnail){%>
                            <img class="img-responsive center-block" src ='/uploads/<%=search.thumbnail%>' style=" height: 7rem; object-fit: contain;"/>
                            <style>
                            img{height: 20px; width:auto; }
                            div{text-align: center;}
                            </style>
                        <%}%>
                      </td>
                      <th class="align-middle"><%=search.name%></th>
                      <td class="align-middle">재고</td>
                      <td class="align-middle"><%=search.total-search.rent%></td>
                  </tr>
                  <tr height="10px">
                      <th class="text-left align-middle" colspan="3" height="10px" style="font: 1em" onclick= "location.href='/goods/detail/<%=search.id%>' "><%-search.description%></th>
                  </tr>
                  <%});%>
                </tbody>
            </table>
            <style>
                .table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
                background-color: #FFF;
                }
            </style>
          
        <nav aria-label="Page navigation example">
          <ul class="pagination justify-content-center">
              <li class="page-item">
                  <a class="page-link" href="<%= paginate.href(true) %>" aria-label="Previous">
                      <span aria-hidden="true">&laquo;</span>
                  </a>
              </li>
          <% pages.forEach(function(page){ %>
          <li class="page-item">
              <li class="<%= paginate.page == page.number ? 'active' : ''%>">
                  <a class="page-link" href="<%= page.url %>"><%= page.number %></a>
              </li>
          </li>
          <%})%>

          <%if(paginate.hasNextPages(pageCount)){%>
              <li>
                  <a class="page-link" href="<%= paginate.href() %>">
                      <span aria-hidden="true">&raquo;</span>
                  </a>
              </li>
          <%}%>
          </ul>
      </nav>
        </div>
        
  <style type="text/css">
  .masonry-grid img { max-width: 260px; }
  </style>
  <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.imagesloaded/4.1.1/imagesloaded.pkgd.min.js"></script>
  <script type="text/javascript">
      var $masonry_container = $('#masonry_container');
      $masonry_container.imagesLoaded(function(){
        $masonry_container.masonry({
          itemSelector : '.masonry-grid',
          columnWidth : 100
        });
      });
  
      $(document).ready(function(){       
          $('#js-btn-wrap').click(function(){
              $.ajax({
                  url : "/",
                  type : "POST",
                  cache : false,
                  dataType: 'json',
                  //data: ,
              })
          });
      });
  </script>
  
<%- include('footer') %>